@{
    ViewData["Title"] = "Password Reset Sent";
}

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="billing-details text-center">

                    <div style="font-size:100px; color:#00C851; margin-bottom:20px;">
                        <i class="fa fa-check-circle"></i>
                    </div>

                    <h3 class="title">Password Reset Link Sent</h3>

                    <p style="font-size:16px; margin-top:10px;">
                        Password reset link has sent to your e-mail.
                    </p>

                    <p style="color:#8D99AE;">
                        Please check your inbox (and spam folder) for the link to reset your password.
                    </p>

                    <a asp-controller="Account" asp-action="Login" class="primary-btn" style="margin-top:20px;">
                        Back to Login
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>