@model LoginViewModel;

@*
    Yanlış şifre girildiğinde altta hata görünsün.


    19 Kasım 02:13:00 den devam et.
*@

    <!-- LOGIN SECTION -->
    <div class="section">
        <div class="container">
            <div class="row">

                <div class="col-md-4 col-md-offset-4">
                    <div class="billing-details">
                        <div class="section-title text-center">
                            <h3 class="title">Login</h3>
                        </div>

                    <form asp-controller="Account" asp-action="Login" method="post">
                        @Html.AntiForgeryToken()

                        <div class="form-group">
                            <input asp-for="UserName" class="input" placeholder="Username" />
                            <span asp-validation-for="UserName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Password" class="input" type="password" placeholder="Password" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>
                                <input asp-for="RememberMe" type="checkbox" />
                                Remember Me
                            </label>
                        </div>

                        <button type="submit" class="primary-btn btn-block">Login</button>
                    </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
   

